.container-home {
    margin: 100px auto 0 auto;

    width: fit-content;
    height: fit-content;
    border: 1px solid rgba(230, 230, 230, 0.5);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(119, 119, 119, 0.5);

    .image-container {
        width: 300px;
        height: 200px;

        img {
            width: 300px;
            height: 200px;
            border-radius: 10px;
        }
    }

    .items {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin: 8px 0;

        p {
            margin: initial;
        }

        button {
            height: 30px;
            width: 30px;
            background-color: rgba(230, 230, 230, 0.5);
            border: none;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}