@import './variables.css';

.mobile-menu,
.mobile-menu-exit {
    display: none;
    height: 20px;
    width: 35px;
    padding: 0px 5px 10px 10px;
}

.navbar {
    background-color: var(--nav);
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 99;

    .container-navbar {
        display: flex;
        place-content: space-between;
        align-items: center;
    }

    .logo-container {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    .logo {
        display: flex;
        text-decoration: none;
        color: var(--text-color);
        font-size: 32px;
        // display: flex;
        // align-items: center;

        span {
            margin-left: 9px;
            color: var(--primary-color);
        }
    }

    nav {
        display: flex;

        .ellipsis-container {
            display: flex;
            place-items: center;
            margin: 4px 8px;
            padding: 4px 7px;

            .ellipsis {
                margin: 0;
                height: 19px;
                display: none;
            }
        }

        .sun-moon {
            display: flex;
            place-content: center;
            margin: 0 10px 0 10px;
            cursor: pointer;

            .sun {
                width: 20px;
                display: var(--display);
            }

            .moon {
                width: 20px;
                display: var(--display);
                position: relative;
            }
        }

        .nav-div {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;

            .nav-one {
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    width: 100px;
                    height: 35px;
                    color: var(--article-color);
                    background-color: var(--primary-color);
                }
            }

            .nav-one,
            .nav-two,
            .nav-three,
            .nav-four {
                display: flex;
                align-items: center;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 2px 15.5px;
                    user-select: none;

                    a {
                        text-decoration: none;
                        color: var(--text-color2);

                        &:hover {
                            color: var(--text-color);
                        }
                    }
                }
            }

            .line-break {
                padding: 8px 16px;

                div {
                    margin: 0;
                    border-right: 1px solid var(--content-break);
                    height: 19px;
                }
            }
        }
    }
}

@media (max-width: 1360px) {
    .navbar {
        .container-navbar {
            nav {
                .ellipsis-container {
                    cursor: pointer;

                    .ellipsis {
                        display: block;
                    }
                }

                .nav-div {
                    .nav-four {
                        display: flex;
                        flex-direction: column;
                        place-content: center;
                        position: fixed;
                        background-color: var(--background-color);
                        border-radius: 10px;
                        height: fit-content;
                        padding: 5px 15px;

                        right: var(--right2);
                        width: fit-content;
                        top: 55px;
                        box-shadow: 0px 2px 10px 0px var(--shadow);

                        li {
                            width: fit-content;
                            margin: 10px 0 10px 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1140px) {
    .navbar {
        .container-navbar {
            nav {
                .nav-div {
                    .nav-three {
                        display: flex;
                        flex-direction: column;
                        place-content: center;
                        position: fixed;
                        background-color: var(--background-color);
                        border-radius: 10px;
                        height: fit-content;
                        padding: 5px 15px;

                        right: var(--right2);
                        width: 82px;
                        top: 55px;
                        box-shadow: 0px 2px 10px 0px var(--shadow);

                        li {
                            width: fit-content;
                            margin: 10px 0 10px 0;
                        }
                    }

                    .nav-four {
                        top: 170px;
                        width: 82px;
                        box-shadow: 0px 7px 10px 0px var(--shadow);
                    }
                }
            }
        }
    }
}

@media (max-width: 910px) {
    .navbar {
        .container-navbar {
            nav {
                .nav-div {
                    .line-break {
                        display: none;
                    }

                    .nav-two {
                        display: flex;
                        flex-direction: column;
                        place-content: center;
                        position: fixed;
                        background-color: var(--background-color);
                        border-radius: 10px;
                        height: fit-content;
                        padding: 5px 15px;

                        right: var(--right2);
                        width: 129px;
                        top: 55px;
                        box-shadow: 0px 2px 10px 0px var(--shadow);

                        li {
                            width: fit-content;
                            margin: 10px 0 10px 0;
                        }
                    }

                    .nav-three {
                        top: 170px;
                        width: 129px;
                        box-shadow: 0px 10px 10px 0px var(--shadow);
                    }

                    .nav-four {
                        top: 285px;
                        width: 129px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar {
        position: fixed;

        .container-navbar {
            .logo-container {
                margin: 0;

                .logo {
                    font-size: 25px;
                }
            }

            .mobile-menu {
                display: block;
                position: fixed;
                top: 18px;
                right: 13px;
                z-index: var(--z-index);
                opacity: var(--opacity);
            }

            nav {
                flex-direction: column;

                .sun-moon {
                    position: relative;
                    right: 69px;
                    margin-top: 5px;
                }

                .ellipsis-container {
                    display: none;
                }

                .mobile-menu-exit {
                    display: block;
                    position: fixed;
                    top: 18px;
                    right: 13px;
                    z-index: var(--z-index);
                    opacity: var(--opacity);
                }

                .nav-div {
                    height: calc(100vh - 52px);
                    width: 75vw;
                    position: fixed;
                    z-index: 1;
                    top: 52px;
                    left: var(--left);
                    background-color: var(--nav);
                    overflow-x: hidden;
                    overflow-y: auto;
                    transition: 0.5s;
                    padding: 0px;
                    box-shadow: 0px 10px 10px 0px var(--shadow);

                    display: block; //Important

                    .nav-one,
                    .nav-two,
                    .nav-three,
                    .nav-four {
                        display: flex;
                        flex-direction: column;
                        place-content: center;
                        background-color: var(--nav);
                        font-size: 20px;
                        border-radius: 0;
                        padding: 0;
                        margin: 0;
                        box-shadow: unset;

                        top: unset;
                        left: unset;
                        right: 0;
                        bottom: 0;

                        height: fit-content;
                        width: 75vw;
                        position: initial;

                        li {
                            margin: 0;

                            a {
                                display: block;
                                border-radius: 100px;
                                width: 120px;
                                padding: 20px 50px 20px 50px;

                                &:hover,
                                &:active {
                                    background-color: var(--content-break);
                                }
                            }
                        }
                    }

                    .nav-four {
                        height: 250px;
                        place-content: flex-start;
                    }
                }
            }
        }
    }
}

@media (max-width: 280px) {
    .navbar {
        .container-navbar {
            nav {
                .sun-moon {
                    right: 46px;
                }
            }
        }
    }
}