:root {
    --primary-color-light: #0018F1;
    --select-color-light: #0016d8;
    --primary-color-dark: #05C4D6;
    --select-color-dark: #00FFFF;

    --display-show: block;
    --left-show: 25vw;
    --right-show: calc(30vw - 100px);
    --right-show2: 70px;
    --bottom-show: 50px;
    --opacity-show: 1;
    --z-index-show: 900;

    --display-hide: none;
    --left-hide: 100vw;
    --right-hide: -90vw;
    --right-hide2: -40vw;
    --bottom-hide: -10vw;
    --opacity-hide: 0;
    --z-index-hide: 200;

    --background-color-light: #F6F8FC;
    --content-break-light: #E3E3E3;
    --nav-light: #FFFFFF;
    --text-color-light: black;
    --text-color2-light: #5F6368;
    --article-color-light: white;
    --shadow-light: rgba(0, 0, 0, 0.2);

    --background-color-dark: #292a2d;
    --content-break-dark: #5E5E5E;
    --nav-dark: #202124;
    --text-color-dark: #FFFFDE;
    --text-color2-dark: #CDC1C6;
    --article-color-dark: #1F1F1F;
    --shadow-dark: rgba(0, 0, 0, 0.5);
}

.lightMode {
    --primary-color: var(--primary-color-light);
    --select-color: var(--select-color-light);
    --background-color: var(--background-color-light);
    --nav: var(--nav-light);
    --text-color: var(--text-color-light);
    --text-color2: var(--text-color2-light);
    --article-color: var(--article-color-light);
    --content-break: var(--content-break-light);
    --shadow: var(--shadow-light);

}

.darkMode {
    --primary-color: var(--primary-color-dark);
    --select-color: var(--select-color-dark);
    --background-color: var(--background-color-dark);
    --nav: var(--nav-dark);
    --text-color: var(--text-color-dark);
    --text-color2: var(--text-color2-dark);
    --article-color: var(--article-color-dark);
    --content-break: var(--content-break-dark);
    --shadow: var(--shadow-dark);
    // background: radial-gradient(#818181, black);
}

.show {
    --display: var(--display-show);
    --left: var(--left-show);
    --right: var(--right-show);
    --bottom: var(--bottom-show);
    --opacity: var(--opacity-show);
    --z-index: var(--z-index-show);
    --right2: var(--right-show2);
}

.hide {
    --display: var(--display-hide);
    --left: var(--left-hide);
    --right: var(--right-hide);
    --bottom: var(--bottom-hide);
    --opacity: var(--opacity-hide);
    --z-index: var(--z-index-hide);
    --right2: var(--right-hide2);
}

// .blur {
//     position: absolute;
// }